@keyframes fly {
    0%   { left:0%; top:0%; opacity: 0; transform: translate(0, 0);}
    25%  { left:50%; top:50%;  opacity: 1; transform: translate(-50%, -50%)}
    50%  { left:50%; top:50%; opacity: 1; transform: translate(-50%, -50%)}
    75%  { left:50%; top:50%; opacity: 1; transform: translate(-50%, -50%)}
    100% { left:100%; top:0%;  opacity: 0; transform: translate(-100%, 0%)}
}
@keyframes blink {
    0%   { color: black; opacity: 0;}
    25%  { color: red; opacity: 1;}
    50%  { color: black; opacity: 1; }
    75%  { color: red; opacity: 1;}
    100% { color: black; opacity: 0;}
}

.AlienInvasion #alien1 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    animation: fly 5s ease-out forwards;
    /* animation-direction: alternate; */
    z-index: 5;
    /* animation-delay: 2s; */
}

.AlienInvasion h2 {
    position: absolute;
    top: 35%;
    text-align: center;
    border: 2px black solid;
    width: 50%;
    font-size: 35px;
    transform: translate(-50%, -35%);
    animation: blink 5s ease-in-out forwards;
    background-color: white;
    left: 50%;
    z-index: 4;
}

